h1 {
  text-align: center;
  font-family: 'Helvetica', sans-serif;
}
h2 {
  text-align: center;
  font-family: 'Helvetica', sans-serif;
}
h3 {
  text-align: center;
  font-family: 'Helvetica', sans-serif;
}
p {
  padding-left: 20;
  padding-right: 20;
  font-family: 'Helvetica', sans-serif;
}
